// tyfy variable customizations
$tyfy-grid-unit:0.8125rem;
$tyfy-serif:"Zilla Slab",Georgia,Times,serif;
$tyfy-sans:"Overpass",Helvetica,Arial,sans-serif;
$tyfy-font-base:$tyfy-sans;
$tyfy-symbol:"Material Icons";

// tyfy required
@import "../../node_modules/tyfy/source/scss/required/core";
@import "../../node_modules/tyfy/source/scss/required/functions";
@import "../../node_modules/tyfy/source/scss/required/settings";
@import "../../node_modules/tyfy/source/scss/required/mixins";

// bootstrap variable customizations
@import "customization/variables";
