// headings
h1, .h1 {
	color:$headings-color;
	font-family:$headings-font-family;
	font-size:$h1-font-size;
	font-weight:$headings-font-weight;
	line-height:leading($h1-font-size,heading);
}
h2, .h2 {
	color:$headings-color;
	font-family:$headings-font-family;
	font-size:$h2-font-size;
	font-style:normal;
	font-weight:$headings-font-weight;
	line-height:leading($h2-font-size,heading);
}
h3, .h3 {
	color:$headings-color;
	font-family:$headings-font-family;
	font-size:$h3-font-size;
	font-style:normal;
	font-weight:$headings-font-weight;
	line-height:leading($h3-font-size,heading);
}
h4, .h4 {
	color:$headings-color;
	font-family:$headings-font-family;
	font-size:$h4-font-size;
	font-weight:$headings-font-weight;
	line-height:leading($h4-font-size,heading);
}
h5, .h5 {
	color:$headings-color;
	font-family:$headings-font-family;
	font-size:$h5-font-size;
	font-weight:$headings-font-weight;
	line-height:leading($h5-font-size,heading);
}
h6, .h6 {
	color:$headings-color;
	font-family:$headings-font-family;
	font-size:$h6-font-size;
	font-weight:$headings-font-weight;
	line-height:leading($h6-font-size,heading);
}

// Type display classes
.display-1,
.display-2,
.display-3,
.display-4 {
	font-family:$headings-font-family;
}

// Lead paragraph
.lead {
	line-height:leading($lead-font-size,tall);
}

// Font face selection classes
.font-family-serif {
	font-family:$font-family-serif;
}
.font-family-sans-serif {
	font-family:$font-family-sans-serif;
}