// Tyfy Functions
@import "../vendor/tyfy/source/scss/functions";

// Tyfy Variables
@import "../vendor/tyfy/source/scss/variables/grid";
@import "../vendor/tyfy/source/scss/variables/fonts";
@import "../vendor/tyfy/source/scss/variables/breakpoints";
@import "../vendor/tyfy/source/scss/variables/colors";
@import "../vendor/tyfy/source/scss/variables/timing";

// Tyfy Mixins
@import "../vendor/tyfy/source/scss/mixins";

// ---------------------

// Theme Custom Variables
@import "variables";

// Bootstrap Required
@import "../vendor/bootstrap/scss/functions";
@import "../vendor/bootstrap/scss/variables";
@import "../vendor/bootstrap/scss/mixins";

.tybs-code,
.tybs-example {
	border:2px $table-border-color solid;
	padding:grid(2);
	* + & {
		margin-top:$tyfy-spacing-standard;
	}
}
.tybs-code {
	background-color:$table-border-color;
	.tybs-example + & {
		margin-top:0;
	}
}