// tyfy variable customizations

// tyfy required
@import "../vendor/tyfy/source/scss/required/core";
@import "../vendor/tyfy/source/scss/required/functions";
@import "../vendor/tyfy/source/scss/required/settings";
@import "../vendor/tyfy/source/scss/required/mixins";

// bootstrap variable customizations
@import "variables";

// bootstrap required
@import "../vendor/bootstrap/scss/functions";
@import "../vendor/bootstrap/scss/variables";
@import "../vendor/bootstrap/scss/mixins";

.tybs-code,
.tybs-example {
	border:2px $table-border-color solid;
	padding:grid(2);
	* + & {
		margin-top:$tyfy-spacing-standard;
	}
}
.tybs-code {
	background-color:$table-border-color;
	.tybs-example + & {
		margin-top:0;
	}
}