.card,
.card-deck,
.card-group {
	> * + * {
		margin-top:0;
	}
}

.card {
	.card-body,
	.card-img-overlay {
		@include tymargins-size(block,tyspacing(sm));
		@include tymargins-size(lists,0);

		.card-title {
			margin-bottom:0;
		}
		
		.card-subtitle,
		.card-title + .card-subtitle {
			margin-top:0;
		}
		
	}
	.list-group {
		* + * {
			margin-top:0;
		}
	}
}
