.card,
.card-deck,
.card-group,
.card-columns {
	> * + * {
		margin-top:0;
	}
}

.card {
	.card-body,
	.card-img-overlay {
		@include tymargins-size(block,tyspacing(sm));
		@include tymargins-size(lists,0);

		.card-title {
			margin-bottom:0;
		}
		
		.card-subtitle,
		.card-title + .card-subtitle {
			margin-top:0;
		}
		
	}
	.list-group {
		@include tymargins(off);
	}
}

.accordion {
  > .card  + .card {
    margin-top:0;
  }
}