.carousel,
.carousel-inner,
.carousel-indicators {
  @include sibling-margins(skip);
}

.carousel-indicators {
  bottom:space(1);
}

.carousel-caption {
  bottom:space(2);
  padding-top:space(2);
  padding-bottom:space(2);
  * + * {
    margin-top:space(1);
  }
}
