button,
input,
select,
textarea {
	font-family:$tyfont-input;
}

label:not(.sr-only) {
  & + .form-control,
  & + .form-control-file,
  & + .form-control-plaintext,
  & + .input-group,
  & + .custom-select {
    margin-top:tyspacing(sm);
  }
}
.form-inline,
.form-check,
.form-row,
.custom-control,
.input-group {
  @include tymargins(skip);
}
//  .custom-control + .custom-control {
//  	margin-top:0;
// }
