.navbar {
	@include sibling-margins(off);
}

.navbar-toggler {
	&.navbar-text {
		border:none;
		font-size:$font-size-base;
		line-height:$line-height-base;
		padding:0;
	}
}

.navbar-nav {
  .nav-link {
    padding-right:tygrid(1);
    padding-left:tygrid(1);
  }
}

.navbar-expand {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-up($next) {
        .navbar-nav {
          .nav-link {
            padding-right:tygrid(1);
            padding-left:tygrid(1);
          }
        }
      }
    }
  }
}

.navbar-light {
  .navbar-nav {
    .nav-item:not([class*="active"]) {
      @include hover-focus {
	      background-color:rgba(white,0.5);
	      transition:background-color 0.25s;
      }
    }
  }
  .navbar-toggler {
    @include hover-focus {
	  	background-color:rgba(white,0.2);
	    transition:background-color 0.25s;
	  }
  }
}

.navbar-dark {
  .navbar-nav {
    .nav-item:not([class*="active"]) {
      @include hover-focus {
        background-color:rgba(black,0.2);
	      transition:background-color 0.25s;
      }
    }
  }
  .navbar-toggler {
    @include hover-focus {
      background-color:rgba(black,0.2);
	    transition:background-color 0.25s;
    }
  }
}
