.table {
  margin-bottom:0;
}

// styles from tyfy optional module
table {
  font-variant-numeric:lining-nums tabular-nums;
  font-feature-settings:"lnum", "tnum";
}
th {
  font-variant-numeric:lining-nums tabular-nums;
  font-feature-settings:"lnum", "tnum";
}
td {
  font-variant-numeric:lining-nums tabular-nums;
  font-feature-settings:"lnum", "tnum";
}
