// headings
h1, .h1 {
	line-height:tylead($h1-font-size,heading);
}
h2, .h2 {
	line-height:tylead($h2-font-size,heading);
}
h3, .h3 {
	line-height:tylead($h3-font-size,heading);
}
h4, .h4 {
	line-height:tylead($h4-font-size,heading);
}
h5, .h5 {
	line-height:tylead($h5-font-size,heading);
}
h6, .h6 {
	line-height:tylead($h6-font-size,heading);
}

// Type display classes
.display-1,
.display-2,
.display-3,
.display-4 {
	font-family:$headings-font-family;
}
.display-1 {
	line-height:tylead($display1-size,heading);
}
.display-2 {
	line-height:tylead($display2-size,heading);
}
.display-3 {
	line-height:tylead($display3-size,heading);
}
.display-4 {
	line-height:tylead($display4-size,heading);
}

// need this here to override the tyfy spacing module in the one case of the hr element
hr {
  margin-top: $hr-margin-y;
  margin-bottom: $hr-margin-y;
}

.lead {
	line-height:tylead($lead-font-size,tall);
}

// inline lists
.list-inline {
	@include tymargins(off);
}

// Blockquotes
.blockquote {
  margin-bottom: 0;
  line-height: tylead($blockquote-font-size);
}
.blockquote * + .blockquote-footer {
  margin-top:$tyspacing-sm;
}

// stuff from tyfy utilities module
.tyfont-sans {
  font-family:$tyfont-sans;
}
.tyfont-serif {
  font-family:$tyfont-serif;
}
.tyfont-mono {
  font-family:$tyfont-mono;
}
span {
  &.dropcap {
    display:inline-block;
    float:left;
    font-size:400%;
    font-weight:bold;
    line-height:100%;
    margin:0 0.25em 0 0.125em;
    text-align:center;
  }
  &.smallcaps { // styles based on https://joeclark.org/standards/small-caps.html; I like the fake better
    font-size:smaller;
    letter-spacing:0.075em;
    margin-right:-0.0375em;
    text-transform:uppercase;
  }
}
