// headings
h1, .h1 {
	line-height:tylead($h1-font-size,heading);
}
h2, .h2 {
	line-height:tylead($h2-font-size,heading);
}
h3, .h3 {
	line-height:tylead($h3-font-size,heading);
}
h4, .h4 {
	line-height:tylead($h4-font-size,heading);
}
h5, .h5 {
	line-height:tylead($h5-font-size,heading);
}
h6, .h6 {
	line-height:tylead($h6-font-size,heading);
}

// Type display classes
.display-1,
.display-2,
.display-3,
.display-4 {
	font-family:$headings-font-family;
}
.display-1 {
	line-height:tylead($display1-size,heading);
}
.display-2 {
	line-height:tylead($display2-size,heading);
}
.display-3 {
	line-height:tylead($display3-size,heading);
}
.display-4 {
	line-height:tylead($display4-size,heading);
}

.lead {
	line-height:tylead($lead-font-size,tall);
}

// inline lists
.list-inline {
	@include tymargins(off);
}

// Blockquotes
.blockquote {
  margin-bottom:0;
}
