// from bootstrap/_variables line 214
$font-family-serif:$tyfy-serif;
$font-family-sans-serif:$tyfy-sans;
$font-family-monospace:$tyfy-mono;
$font-family-base:$tyfy-font-base;

$font-size-base:$tyfy-font-size-base;

$font-size-lg:scale(1);
$font-size-sm:scale(-1);

$h6-font-size:scale(0);
$h5-font-size:scale(1);
$h4-font-size:scale(2);
$h3-font-size:scale(3);
$h2-font-size:scale(4);
$h1-font-size:scale(6);

$headings-font-family:$font-family-serif;
$headings-font-weight:700;

$display4-size:scale(7);
$display3-size:scale(8);
$display2-size:scale(9);
$display1-size:scale(10);

$display1-weight:700;
$display2-weight:700;
$display3-weight:700;
$display4-weight:700;

$lead-font-size:$font-size-lg;
$small-font-size:100%/$tyfy-font-size-scalar;

$blockquote-font-size:$font-size-lg;