// from bootstrap/_variables line 214
$font-family-serif:$tyfy-serif;
$font-family-sans-serif:$tyfy-sans;
$font-family-monospace:$tyfy-mono;
$font-family-base:$font-family-serif;

$font-size-base:$tyfy-font-size-base;

$font-size-lg:$font-size-base * $tyfy-font-size-scalar;
$font-size-sm:$font-size-base * $tyfy-font-size-scalar;

$h6-font-size:$font-size-base;
$h5-font-size:$font-size-base * $tyfy-font-size-scalar;
$h4-font-size:$h5-font-size * $tyfy-font-size-scalar;
$h3-font-size:$h4-font-size * $tyfy-font-size-scalar;
$h2-font-size:$h3-font-size * $tyfy-font-size-scalar;
$h1-font-size:$h2-font-size * $tyfy-font-size-scalar * $tyfy-font-size-scalar;

$headings-font-family:$font-family-serif;
$headings-font-weight:700;

$display4-size:$h1-font-size * $tyfy-font-size-scalar;
$display3-size:$display4-size * $tyfy-font-size-scalar;
$display2-size:$display3-size * $tyfy-font-size-scalar;
$display1-size:$display2-size * $tyfy-font-size-scalar;

$display1-weight:700;
$display2-weight:700;
$display3-weight:700;
$display4-weight:700;

$lead-font-size:$font-size-lg;
$small-font-size:100%/$tyfy-font-size-scalar;

$blockquote-font-size:$font-size-lg;